{% extends "base.html" %}

{% block content %}
	<script type="text/javascript">
		$(document).ready(function() {
			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
			var room_id = "{{ room.room_id }}";
			var username = "{{ username }}";
            var vote_songs;
            var votes;
            
            socket.on("connect", function() {
                socket.emit("join", {"room_id": room_id, "username": username});
            });

			$(window).bind("beforeunload", function() {
				socket.emit("leave", {"room_id": room_id, "username": username});
			});

            socket.on("update-room-users", function(current_users) {
                $("#room-users").empty();
                $("#room-users").append("<tr><td><b>Users:</b></td></tr>");
                
                for (var i = 0; i < current_users.length; i++) {
                    $("#room-users").append("<tr><td>" + current_users[i] + "</td></tr>");
                }
            });

            socket.on("update-sug-list", function(songs) {
                $("#title").empty();
                $("#title").append("<h3>Current Playlist:</h3>");
                $("#sug-list").empty();
                for (var i = 0; i < songs.length; i++) {
                    $("#sug-list").append("<li>\"" + songs[i][0] + "\" by " + songs[i][1] + "</li>");
                }
                $("#title").css("display", "inline");
                $("#sug-list").css("display", "block");
            });

			socket.on("song-query-results", function(results) {
				$("#results").empty();
                $("#results").append("<br>");
                if (results.length > 0) {
				    for (var i = 0; i < results.length; i++) {
                        $("#results").append("<input type=\"radio\" name=\"song\" value=\"" + results[i].spotify_url + "\">" + "<img src=" + results[i].album_cover + " height=\"40\" width=\"40\"/>" + results[i].name + "<br>");
				    }
				    $("#results").css("display", "block");
                    $("#submit").css("display", "inline");
                } else {
                    $("#results").append("No songs were found.");
                    $("#results").css("display", "block");
                    $("#submit").css("display", "none");
                }
			});

            socket.on("result-message", function(str) {
                // Called if back-end failed to add song to room playlist.
                // TODO message about failing to add to list
                $("#results").append(str);
                $("#results").css("display", "block");
            });

            socket.on("display-vote-songs", function(songs) {
                vote_songs = songs;
                votes = {};
                showNextChoices();
                $("#song-vote").css("display", "block");
                $("#prompt").css("display", "block");
            });

            socket.on("submit-votes", function() {
                $("#song-vote").empty();
                submitVotes();
            });

            socket.on("display-votes", function(vote_display) {
                $("#vote-display").empty();
                for (var i = 0; i < vote_display.length; i++) {
                    $("#vote-display").append("<li>" + vote_display[i] + "</li>");
                }
                $("#vote-display").css("display", "block");
            });

            socket.on("prompt-auth-spotify", function() {
                $("#spotify-auth").click();
            });

            socket.on("close-auth-spotify", function() {
                $("#spotify-auth").css("display", "none");
            });

		    $("#message-box").keypress(function(e) {
				var code = e.keyCode || e.which;
				if (code == 13 && $("#message-box").val() !== "") {
					$("#send-message").click();
					$("#message-box").val('');
				}
			});

			$("#send-message").on("click", function() {
				socket.emit("chat-message", {"msg": $("#message-box").val(), "username": username, "room_id": room_id});
			});

			socket.on("chat-message", function(msg) {
				$("#messages-list").append("<li>" + msg + "</li>");
			});

			socket.on("playlist-generation", function(uri) {
				$("#playlist").html("<iframe src=\"https://open.spotify.com/embed?uri=" + uri + "\" width=\"300\" height=\"380\" frameborder=\"0\" allowtransparency=\"true\" allow=\"encrypted-media\"></iframe>");
			});

            $("#search-box").keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    $("#search-button").click()
                }
            });
	
			$("#search-button").on("click", function() {
				if ($("#search-box").val() != "") {
                    socket.emit("song-query", {"query": $("#search-box").val(), "num_selections": $("#num-selections").val()});
				}
			});
            
            $("#submit").on("click", function() {
                selected = document.forms.results.song.value;
                if (selected != null) {
                    socket.emit("song-selection", {"spotify_url": selected, 
                        "room_id": room_id});
                    $("#results").empty();
                    $("#results").css("display", "none");
                    $("#submit").css("display", "none");
                    $("#search-box").val("");
                }
            });

            $("#begin-voting").on("click", function() {
                if (document.getElementById("sug-list").getElementsByTagName("li").length > 4) {
                    socket.emit("begin-voting", room_id);
                    $("#begin-voting").css("display", "none");
                    $("#end-voting").css("display", "block");
                } else {
                    $("#owner-message").append("Please add more songs before voting.");
                    $("#owner-message").css("display", "block");
                    setTimeout(function() {
                        $("#owner-message").empty(); 
                        $("#owner-message").css("display", "none");
                    }, 5000);
                }
            });

            $("#end-voting").on("click", function() {
                socket.emit("collect-votes", room_id);
                $("#end-voting").css("display", "none");
                $("#begin-voting").css("display", "block");
                setTimeout(function() {
                    socket.emit("end-voting", {"room_id": room_id, "username": username});
                }, 500);
            });

            $("#spotify-auth").on("click", function() {
                    var auth_link = document.getElementById("spotify-auth").value;
                    var win = window.open(auth_link);
                    //isetTimeout(function () { win.close();}, 3000);
                    $("#spotify-auth").css("display", "none");
            });

            $(document).on("click", ".song-button", function(e) {
                var selected_vote = $(this).attr('value');
                current_votes = votes[selected_vote];
                if (current_votes == undefined) {
                    votes[selected_vote] = 1;
                } else{
                    votes[selected_vote] = current_votes + 1;
                }

                if (vote_songs.length > 3) {
                    showNextChoices();
                } else{
                    submitVotes();
                }
           });

           function showNextChoices() {
               $("#song-vote").empty();
               for (var i = 0; i < 4; i++) {
                   song = vote_songs.pop();
                   $("#song-vote").append("<button class=\"song-button\" name=\"vote\" value=\"" + song[3] +"\" type=\"button\"> <img src=" + song[2] + " height=\"60\" width=\"60\"/>   " + song[0] + "</button>");
               }
           }

           function submitVotes() {
                $("#song-vote").empty();
                $("#song-vote").append("<p style=\"color: red;\">Please wait for votes to be collected...</p>");
                setTimeout(function() {
                    $("#song-vote").empty();
                    $("#song-vote").css("display", "none");
                }, 1000);

                socket.emit("finish-voting", {"votes": votes, "username": username, "room_id": room_id});
                votes = [];
           }
        });
	</script>

    <style>
    table {
        align: right;
        border-collapse: collapse;
        border: 1px solid black;
    }
    
    section {
        float: left;
        margin: auto;
        width: 25%;
    }

    article {
        float: left;
        margin: auto;
        width: 50%;
    }

    aside {
        float: right;
        margin: auto;
        width: 25%;
    }

    .song-button {
        width: 40%;
        height: 150px;
        margin: 1%;
        padding: 10px;
        font-size: 20px;
        border: solid #010101 1px;
        background-color: #333333;
        color: white;
        text-align: left;
        text-shadow: 2px 2px 5px black;
        vertical-align: top;
    }

    .song-button:hover {
        background-color: #4d4d4d;
    }

    .chat-box {
        background-color: #101010;
        text-align: left;
        height: 220px;
        width: 100%;
        float: right;
        border: solid #010101 1px;
        color: white;
        text-shadow: 1px 0px 2px black;
        vertical-align: top;
    }

    </style>

    <section>
        {% if room.room_name %}
            <h1>{{ room.room_name }}<br> </h1>
            <p>Room code: {{ room.room_id }}</p>
        {% else %}
            <h1>Room {{ room.room_id }}</h1>
        {% endif %}

        <h3 id="title" style="display:none;"></h3>
        <ol id="sug-list" style="display:none; overflow-y:auto; height:150px; width:80%; border:solid #010101 1px;"></ol>

        <h3>Suggest a Song:</h3>
	    <input type="text" id="search-box">
        <select id="num-selections">
            {% for i in range(1, 11) %}
                {% if i == 5 %}
                    <option value=5 selected="selected">5</option> 
                {% else %}
                    <option value={{ i }}>{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>
	    <button id="search-button">Search</button>

        <form id="results" style="display:none;"></form>
	    <button id="submit" style="display:none;">Submit</button>

        {% if is_owner %}
            <p></p>
            <button id="begin-voting">Begin Voting</button>
            <button id="end-voting" style="display:none;">End Voting</button>
            <p id="owner-message" style="display:none; color:red;"></p>
        {% endif %}
    </section>

    <article>
        {% if auth_link %}
            <button id="spotify-auth" value={{auth_link}}>Login to Spotify</button>
        {% endif %}

        <h1 id="prompt" style="text-align:center; width:70%; display:none;">Please Select a Song</h1>
        <form id="song-vote" style="display:none;"></form>
        <ul id="vote-display" style="list-style-type:none;"></ul>
        <div id="playlist"></div>
    </article>

    <aside>
    <font size="18">
        <table id="room-users" style="width:70%;" border="1"></table>
    </font>

    <p></p>
	<div id="chat-box" class="chat-box">
		<ul id="messages-list" style="overflow-y:auto; height:200px; width:95%px; list-style-type:none; padding-left:5;"></ul>
		<input id="message-box" style="align:center;" placeholder="Enter message">
		<button id="send-message" style="align:center;">Send</button>
	</div>
    </aside>

{% endblock %}
